@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
  --white: #f1f1f1;
}

.introlight {
	position: absolute;
	left:0;
	top:0;
	width: 100vw;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: var(--white);
  letter-spacing: 0.7em;
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container {
  text-align: center;
}

.text-container > span {
  display: inline-block;
  opacity: 0.15;
}


.animated-text span {
  opacity: 1;
  background-color: black;
  background: none;
  border: none;
  shape-outside: none;
  animation: flickerIntro 6s linear reverse;
}

#backlight span::after {
  content: '';
  width: 150%;
  -webkit-box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
  -moz-box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
  box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
}



@keyframes flickerIntro {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 0.5;
	}
	10% {
		opacity: 0.6;
	}
	15% {
		opacity: 0.85;
	}
	25% {
		opacity: 0.5;
	}
	30% {
		opacity: 1;
	}
	35% {
		opacity: 0.1;
	}
	40% {
		opacity: 0.25;
	}
	45% {
		opacity: 0.5;
	}
	60% {
		opacity: 1;
	}
	70% {
		opacity: 0.85;
	}
	80% {
		opacity: 0.4;
	}
	90% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
